{% extends "base.html" %}
{% load humanize %}
{% load url from future %}

{% block content %}
<div class="row">
      <div class="span12">    
<div class="shadow">  
    <img src="http://caseymmiller.com/j583/Project1/images/team.JPG">
</div>
      </div>
          <div class="span8">
    <div class="background">
    <h2>Men's Basketball Roster</h2>
    <table class="table table-hover">
        
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Position</th>
                  <th>Year</th>
                  <th>Hometown</th>
                </tr>
              </thead>
              <tbody>
        {% for player in players %}
        {# Each "player" is a Basketball model object. #}
                
                <tr>
                    
                  <td>{{ player.number }}</td>
                  <td><a href="{{player.id}}">{{ player.name }}</a></td>
                  <td>{{ player.position }}</td>
                  <td>{{ player.year }}</td>
                  <td>{{ player.hometown }}</td>
                    
                </tr>
                
        {% endfor %}
              </tbody>
            </table>
    </div>
    <br />
    

<div class="background">
    <h2>Men's Basketball Coaches</h2>
    <table class="table table-hover">
        
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Position</th>
                  <th>Exp.</th>
                  <th>Hometown</th>
                </tr>
              </thead>
              <tbody>
                    
        {% for coach in coaches %}
        {# Each "coach" is a Coach model object. #}
                
                <tr>
                  
                  <td>{{ coach.name }}</td>
                  <td>{{ coach.position }}</td>
                  <td>{{ coach.experience }}</td>
                  <td>{{ coach.hometown }}</td>
                    
                </tr>
                
        {% endfor %}
              </tbody>
            </table>
    </div>
          </div>
          
          <div class="span4">
                    <a class="twitter-timeline" href="https://twitter.com/unc_basketball" data-widget-id="308376349284900864">Tweets by @UNC_Basketball</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    
          </div>
</div>    



{% endblock %}