{% extends "base.html" %}
{% load humanize %}
{% load url from future %}

{% block content %}
<div class="shadow">  
    <img src="http://caseymmiller.com/j583/Project1/images/team.JPG">
</div>
    <div class="background">
    <h2>Men's Basketball Roster</h2>
    <table class="table table-hover">
        
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Position</th>
                  <th>Year</th>
                  <th>Hometown</th>
                </tr>
              </thead>
              <tbody>
        {% for player in players %}
        {# Each "player" is a Basketball model object. #}
                
                <tr>
                    
                  <td>{{ player.number }}</td>
                  <td><a href="{{player.id}}">{{ player.name }}</a></td>
                  <td>{{ player.position }}</td>
                  <td>{{ player.year }}</td>
                  <td>{{ player.hometown }}</td>
                    
                </tr>
                
        {% endfor %}
              </tbody>
            </table>
    </div>
    <br />
    

<div class="background">
    <h2>Men's Basketball Coaches</h2>
    <table class="table table-hover">
        
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Position</th>
                  <th>Year</th>
                  <th>Hometown</th>
                </tr>
              </thead>
              <tbody>
                    
        {% for coach in coaches %}
        {# Each "coach" is a Coach model object. #}
                
                <tr>
                    <div class="tooltip">
                  <td><a href="#" data-toggle="tooltip" title="first tooltip">{{ coach.name }}</a></td>
                  <td>{{ coach.position }}</td>
                  <td>{{ coach.experience }}</td>
                  <td>{{ coach.hometown }}</td>
                    </div>
                </tr>
                
        {% endfor %}
              </tbody>
            </table>
    </div>
    
<!--<div class="pagination">
    <span class="step-links">
        {% if players.has_previous %}
            <a href="?page={{ players.previous_page_number }}">previous</a>
            {% endif %}
            
            <span class="current">
                Page {{ players.number }} of {{players.paginator.num_pages }}
            </span>
            
            {% if students.has_next %}
                <a href="?page={{ players.next_page_number }}">next</a>
            {% endif %}
    </span>
</div>-->


{% endblock %}