<!DOCTYPE html>
    
{% extends "base.html" %}
{% load humanize %}
{% load url from future %}

{% block content %}

<div class="scores">
                <div class="row">
                       <div class="span12">
                               <p class="lead">Scoreboard (3/3 - 3/9)</p> 
                       </div>
                </div>
                                <div class="row">
             
                                <div class="span2">
                                                
                                       <h5>Basketball (M)</h5>
                                                <li><b>Carolina</b><div class="right"><b>78</b></div>
                
                                                <li>Maryland<div class="right">65</div></li>    
                                </div>
                                <div class="span2">
                                       <h5>Tennis (M)</h5>
                                                <li>Florida St.<div class="right">1</div></li>
                                            

                                                <li><b>Carolina</b><div class="right"><b>5</b></div></li>
                                            
                                </div>
                                <div class="span2">
                                       <h5>Basketball (W)</h5>
                                       
                                                <li>Carolina<div class="right">62</div></li>
                                         
                                                <li><b>Clemson</b><div class="right"><b>69</b></div></li>
                                            
                                </div>
                                <div class="span2">
                                       <h5>Baseball</h5>
                                       
                                                <li>Texas A&M<div class="right">2</div></li>
                                   
                                                <li><b>Carolina</b><div class="right"><b>14</b></div></li>
                                            
                                </div>
                                <div class="span2">
                                       <h5>Softball</h5>
                                       
                                                <li><b>Carolina</b><div class="right"><b>7</b></div></li>
                                            
                                       
                                                <li>Binghamton<div class="right">4</div></li>
                                             
                                </div>
                                <div class="span2">
                                        <h5>Tennis (W)</h5>
                                       
                                                <li><b>NC State</b><div class="right"><b>4</b></div></li>
                                            
                                                <li>Carolina<div class="right">3</div></li>
                                </div>
                </div>
</div>


<div class="row">
                <div class="span8">
<div class="shadow">
<div id="myCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                  <li data-target="#myCarousel" data-slide-to="3"></li>
                  <li data-target="#myCarousel" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item active">
                    <a href="#"><img src="http://caseymmiller.com/j583/Project1/images/num2.jpg" height="577" width="1170" alt=""></a>
                    <div class="carousel-caption">
                      <h4>Lucas: The Sixth Man</h4>
                      <p>Leslie McDonald shot 0-for-2 against NC State and grabbed just one rebound. Yet he still managed to make a key contribution during one of the most important stretches of the game.</p>
                    </div>
                  </div>
                  <div class="item">
                    <a href="#"><img src="http://caseymmiller.com/j583/Project1/images/baseball.jpg" height="577" width="1170" alt=""></a>
                    <div class="carousel-caption">
                      <h4>No. 1 UNC Sweeps Astros College Classic</h4>
                      <p>No. 1 North Carolina moved to 3-0 on the weekend with a 14-2 win over No. 30 Texas A&M on Sunday to wrap up the Astros Foundation College Classic.</p>
                    </div>
                  </div>
                  <div class="item">
                    <a href="#"><img src="http://caseymmiller.com/j583/Project1/images/womensbb.jpg" height="577" width="1170" alt=""></a>
                    <div class="carousel-caption">
                      <h4>UNC Tops Eagles 85-57 On Senior NightThird Thumbnail label</h4>
                      <p>Seniors Waltiea Rolle and Tierra Ruffin-Pratt led the No. 15 North Carolina women's basketball to a 85-57 Senior Night victory over Boston College Thursday at Carmichael Arena.</p>
                    </div>
                  </div>
                  <div class="item">
                    <a href="#"><img src="http://caseymmiller.com/j583/Project1/images/softball.jpg" height="577" width="1170" alt=""></a>
                    <div class="carousel-caption">
                      <h4>Satterfield Lifts UNC Over Binghamton</h4>
                      <p>A three-run homer by Erin Satterfield gave Carolina the 7-4 win over Binghamton on Sunday, as UNC closed out play at the Wilson/DeMarini Invitational. The Tar Heels went 4-1 over the weekend, including beating No. 20 Baylor on Friday.</p>
                    </div>
                  </div>
                  <div class="item">
                    <a href="#"><img src="http://caseymmiller.com/j583/Project1/images/soccer.jpg" height="577" width="1170" alt=""></a>
                    <div class="carousel-caption">
                      <h4>Three Heels Headed To Spain With U20s</h4>
                      <p>The defending U-20 women's world champion's first international trip of the year sends them to La Manga, Spain March 1-12 for the 12 Nations tournament, where the USA will face Norway, Germany and Sweden.  Three Tar Heels will be on the roster for this trip, including freshman defender Hanna Gardner, freshman striker Summer Green and striker Amber Munerlyn, who signed a letter of intent with the Tar Heels earlier this month and will join the Tar Heels in the fall.</p>
                    </div>
                  </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
              </div>
                </div>
</div>

                <div class="span4">
                         <div class="background2">
                                <p class="lead">Schedule</p>
         <table class="table table-condensed">
        
              <tbody>
                <tr>
                  <td>3/20</td>
                  <td>Women's Lacrosse vs. Cornell (Chapel Hill, N.C.)</td>
                  <td>7:00PM</td>
                </tr>
                
                <tr>
                  <td>3/21</td>
                  <td>Wrestling vs. NCAA Championships (Des Moines, Iowa)</td>
                  <td>All Day</td>
                </tr>
                
                <tr>
                  <td>3/21</td>
                  <td>Fencing vs. NCAA Championships (women) (San Antonio)</td>
                  <td>8:00AM</td>
                </tr>
                
                <tr>
                  <td>3/21</td>
                  <td>Swimming & Diving vs. NCAA Championships Prelims </td>
                  <td>11:00AM</td>
                </tr>
                
                <tr>
                  <td>3/21</td>
                  <td>Women's Tennis @ NC State (Raleigh, N.C.)</td>
                  <td>4:00PM</td>
                </tr>
                
                <tr>
                  <td>3/21</td>
                  <td>Swimming & Diving vs. NCAA Championships Finals </td>
                  <td>7:00PM</td>
                </tr>
                
                <tr>
                  <td>3/22</td>
                  <td>Track & Field vs. Kent Taylor Invitational (Chapel Hill, N.C.)</td>
                  <td>All Day</td>
                </tr>
                
                <tr>
                  <td>3/22</td>
                  <td>Wrestling vs. NCAA Championships (Des Moines, Iowa)</td>
                  <td>All Day</td>
                </tr>
                
                <tr>
                  <td>3/22</td>
                  <td>Swimming & Diving vs. NCAA Championships Prelims </td>
                  <td>11:00AM</td>
                </tr>
                
                <tr>
                  <td>3/22</td>
                  <td>Men's Tennis @ Virginia Tech (Blacksburg, Va.)</td>
                  <td>2:00PM</td>
                </tr>
                
                
              </tbody>
            </table>
        </div>       
                </div>



</div> 
    
{% endblock %}